<?xml version="1.0"?>
<psalm
    errorLevel="1"
    resolveFromConfigFile="true"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
    findUnusedBaselineEntry="true"
    findUnusedCode="false"
>
    <projectFiles>
        <directory name="src" />
        <directory name="tests" />
        <ignoreFiles>
            <directory name="vendor" />
            <directory name="src/Generator/Entity" />
            <directory name="src/Generator/Repository" />
        </ignoreFiles>
    </projectFiles>

    <issueHandlers>
        <InternalMethod>
            <errorLevel type="suppress">
                <directory name="src/Generator" />
            </errorLevel>
        </InternalMethod>
        <InternalClass>
            <errorLevel type="suppress">
                <directory name="src/Generator" />
            </errorLevel>
        </InternalClass>
    </issueHandlers>
</psalm>
