<?="<?php\n"?>

declare(strict_types=1);

namespace <?=$namespace?>;

use <?=$entity_full_name?>;
use Doctrine\Bundle\DoctrineBundle\Repository\ServiceEntityRepository;
use Doctrine\Persistence\ManagerRegistry;

/**
 * @extends ServiceEntityRepository<<?=$entity_short_name?>>
 */
final class <?=$class_name?> extends ServiceEntityRepository
{
    public function __construct(ManagerRegistry $registry)
    {
        parent::__construct($registry, <?=$entity_short_name?>::class);
    }
}
